body > header {
    height: 40px;
}


nav > ul {
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;

}

.nav-item {
    list-style-type: none;
    font-style: normal;
    font-family: Montserrat;
    font-size: 0.8em;
}

nav > ul > a:link, a:visited {
    color: #8f8f8f;
}

nav > ul > a:hover, a:active {
    color: #fff;
}