/* VARIABLES */
:root {
    --size--12 : 0.75rem;
    --size-14: 0.875rem;
    --size-16 : 1rem;
    --size-20: 1.25rem;
    --size-24: 1.5rem;

    --primary-white: #ffffff;
    --primary-black: #3E3E3E;
    --secondary-black: #737373;
    --secondary-blue: #B2C2FF;
    --secondary-orange: #FFD0D0;
    --tertiary-blue: #85A0FF;



}


*, *::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* LINKS */
a:link, a:visited , a:hover, a:active {
    text-decoration: none;
}


/* FONTS  */

.logo-font {
    font-family: 'Abril Fatface', cursive;
}

.heading2-font {
    font-family: 'Playfair', serif;
}

.heading3-font , .body-font {
    font-family: 'Montserrat', sans-serif !important;
}

.code-font {
    font-family: 'Source Code Pro', monospace;
}

/* FONT STYLES */
.medium-font {
    font-weight: 500;
}

.semi-bold-font {
    font-weight: 600;
}


.bold-font {
    font-weight: 700;
}