body {
	overflow-x: hidden;
}

section#hero {
	height: calc(100vh - 120px);
	width: 100%;

	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
}

section#hero #hero-video {
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100%;

	object-fit: cover;
	filter: brightness(35%);
}

section#hero hgroup {
	letter-spacing: 1px;
	text-align: center;

	position: relative;
	top: -8%;
}

section#hero hgroup h2 span:nth-child(1) {
	font-size: var(--size-24);
	background-color: var(--secondary-orange);
	color: var(--primary-black);
}

section#hero hgroup h2 span:nth-child(2) {
	display: block;
	color: var(--secondary-black);
	font-size: var(--size-20);
}

/*SECTION HEADING */
.heading-2 {
	font-size: var(--size-24);
	margin-bottom: calc(var(--size-16) * 4);
	color: var(--primary-black);
	position: relative;
}

#matrix-rain-canvas {
	display: block;
	position: absolute;

	top: 0;
	left: 0;

	z-index: -1;
	height: 100%;
	width: 100%;

	object-fit: cover;
}

@media screen and (max-width: 1200px) {
	body {
		margin: auto var(--size-24) auto var(--size-24);
	}
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 590px) {
	body {
		margin: auto var(--size-16) auto var(--size-16);
	}
}
