section#hero {
	height: calc(100vh - 120px);
	width: 100%;

	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
}

section#hero #hero-video {
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100%;

	object-fit: cover;
	filter: brightness(35%);
}

section#hero hgroup {
	color: var(--primary-white);
	letter-spacing: 1px;
	text-align: center;
}

section#hero hgroup h2 span:nth-child(1) {
	font-size: var(--size-24);
}

section#hero hgroup h2 span:nth-child(2) {
	display: block;
	color: var(--secondary-orange);
	font-size: var(--size-20);
}

/*SECTION HEADING */
.heading-2 {
	font-size: var(--size-24);
	margin-bottom: calc(var(--size-16) * 4);
	color: var(--primary-black);
	position: relative;
}
