body > header {
	height: 120px;

	display: flex;
	align-items: center;
	justify-content: center;
}

#logo {
	font-size: var(--size-20);
	text-align: center;
	color: var(--secondary-black);
	transition-duration: 0.7s;
}

#logo:hover {
	transition-duration: 0.7s;
	color: var(--tertiary-blue);
	letter-spacing: 1px;
}

nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav > ul {
	height: 100%;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 4rem;
}

li.nav-item {
	list-style-type: none;
	font-style: normal;
	font-size: var(--size-14);
	color: var(--secondary-black);

	transition: 1s;

	position: relative;
}

li.nav-item:hover {
	color: var(--primary-black);
}

li.nav-item::after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: -60vw;
	z-index: -1;

	transform: translate(-50%, 0);

	width: 200%;
	height: 6px;

	border-radius: 0;
	transition: 0.5s ease-in-out;
}

li.nav-item:hover::after {
	left: 50%;
	background-color: var(--tertiary-blue);

	width: 6px;
	border-radius: 50%;
}
@media screen and (max-width: 576px) {
	.nav ul {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
}
