section#projects
/* ICON  */
.project-heading::before {
	content: "";
	position: absolute;
	top: 0;
	left: -32px;
	height: var(--size-24);
	width: var(--size-24);
	background: url(/assets/projects.png);
	background-size: contain;
}

.project-item-container {
	width: 100%;
	max-width: 1080px;
	margin: auto;

	/* margin-bottom: 90px; */
	/* padding-bottom: calc(var(--size-24) * 2); */
}

.project-item-banner {
	width: 100%;
	height: 350px;

	border-radius: var(--size-12);
	background: url(/assets/dummy-banner.png) var(--secondary-blue);
	background-size: auto 80%;
	background-position-x: right;
	background-position-y: bottom;
	background-repeat: no-repeat;

	position: relative;

	margin-bottom: 100px;
}

.banner-text-container {
	position: absolute;
	bottom: -20%;
	left: 10%;

	width: 30%;
	height: 170px;
	background-color: var(--primary-white);

	border-radius: var(--size-12);
	padding: var(--size-14);

	font-size: var(--size-12);
}

.banner-heading {
	margin-bottom: calc(var(--size-16) * 0.25);
}

.banner-text {
	font-size: var(--size-12);
	margin-bottom: calc(var(--size-16) * 0.5);
	color: var(--secondary-black);
}

.banner-footer {
	font-size: var(--size-12);
	color: var(--secondary-black);

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.banner-footer-icon img {
	height: var(--size-28);
	width: var(--size-28);
}

.project-item-half-container {
	width: 100%;

	display: flex;
	gap: var(--size-24);
	flex-wrap: wrap;
}

.project-item-half-container a {
	flex: 1;
}

.project-item {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;

	height: 370px;

	background-color: var(--secondary-orange);
	border-radius: var(--size-12);
}

.project-item1 {
	background-color: var(--secondary-orange);
}

.project-item2 {
	background-color: var(--secondary-blue);
}

.project-item-img-container {
	width: 95%;
	height: 290px;
	background: url("/assets/dummy.png");

	border-radius: var(--size-12) var(--size-12) 0 0;
}

.project-item-text-container {
	width: 100%;
	height: 70px;

	background-color: var(--primary-white);

	display: flex;
}

.project-item-text {
	padding: var(--size-14) 0 var(--size-14) 0;

	flex-basis: 80%;
}

.project-item-text h2,
.project-item-text p {
	font-size: var(--size-14);
	margin-bottom: calc(var(--size-16) * 0.5);
}

.project-item-icon {
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: center;
	align-items: center;
}

.project-item-icon .banner-footer-icon img {
	height: calc(var(--size-16) * 2);
	width: calc(var(--size-16) * 2);
}

@media screen and (max-width: 1200px) {
	.banner-text-container {
		height: auto;
	}
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
	.project-item,
	.project-item-half-container a {
		flex-basis: 100%;
	}

	.banner-text-container {
		left: 10%;

		width: 80%;
	}
}

@media screen and (max-width: 576px) {
	#projects {
		padding: 0;
	}

	.project-heading {
		margin-left: 32px;
		margin-right: 32px;
	}

	.project-item-banner {
		height: 250px;
		background-size: 0 0;
	}

	.project-item {
		height: 300px;
	}

	.project-item-img-container {
		height: 180px;
	}

	.project-item-text-container {
		height: 110px;
	}

	.banner-text-container {
		left: 5%;

		width: 90% !important;
	}
}
